*{
  font-family: helvetica;
}
#result{
  height: 336px;
  width:100%;
  border: solid #dfdfdf 1px;
  background: #ffffff;
}
textarea{
  height: 336px!important;
}
.ui.grid{
  padding: 0px 10px;
  margin: 0px;
}
.ui.segment{
  border: none!important;
  background: none;
  box-shadow: none;
  text-align: center;
}
.ui[class*="three column"].grid>.column, .ui.attached.bottom.button{
  padding: 0px;
}
.ui.bottom.attached.button{
  background: none;
  border-top: solid #dfdfdf 1px;
  box-shadow: none;
}
.ui.two.column.doubling.stackable.grid.container{
  margin: 0px;
}
.ui.two.column.doubling.stackable.grid.container .column{
  padding-top: 0px;
}
.close-button{
    float: right;
    margin: 0px;
}
.ui.modal{
  height: 477px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.ui.form input[type=checkbox]{
  height: 20px;
  width: 20px;
}
.ui.form .one.wide.column{
  padding-top: 22px;
}
.ui.grid+.grid{
  margin: 0px;
}
.seven.wide.column, .nine.wide.column{
  padding-bottom: 0px!important;
}
.ui.modal .content{
  padding: 0px;
}
.ui.grid.listSettings{
  height: 250px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px!important;
}
